@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--background);
  background: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background: #fbf9fe;
}

/* @layer base {
  :root {
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
} */

.cus-nav {
  background: #fff;
}
.swal2-container {
  z-index: 2222222222222;
}
#cus-inspection-sel {
  z-index: 32;
}
#search-service-ticket {
  z-index: 32;
}
#invoice-table-select {
  z-index: 32;
}
[data-radix-popper-content-wrapper] {
  z-index: 2222222 !important;
}
.swal2-container {
  z-index: 333333333 !important;
}
.employee-names {
  z-index: 32;
}

#labor-assign-1 {
  z-index: 33;
}
#labor-assign-2 {
  z-index: 32;
}
#labor-assign-3 {
  z-index: 31;
}
#labor-assign-4 {
  z-index: 30;
}
#filter-labor {
  z-index: 54;
}
